/* app css stylesheet */

body * {
  font-family: Tahoma;
}

.hide {
  display: none;
}

.app-background {
  background-image: url("../resources/images/crosshatch-bw.png");
}

.ui-state-default:not(.ui-state-active) {
  background: #fcfcf4;
  border-color: #ddd;
}


/* Progress Spinner */
#progress-overlay{
  position: fixed;
  width:100%;
  height:100%;
  z-index:101;
  background-color: rgba(255, 255, 255, 0.65);
}

#progress-overlay .spinner {
  display: inline-block;
  content: url('../resources/images/ajax-loader.gif');
  height: 54px;
  width: 54px;
}

#progress-overlay .loading-text {
  font-style: italic;
  font-size: 20px;
  color: #666666;
  display: inline-block;
  line-height: 62px;
  vertical-align: top;
  margin-left: 20px;
}

#progress-overlay .message-body {
  width: 230px;
  height: 70px;
  background-color: white;
  margin: auto;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 6px;
  border: 1px solid #666666;
  text-align: center;
  padding-top: 10px;
}