.project-section .css3Container .description {
	width: 90%;
	margin-left: 0;
}
.egg {
	position: relative;
	display: block;
	width: 110px;
	margin-top: 10px;
}
.egg.roll {
	-webkit-animation: roll 16s linear 0s; /* Chrome, Safari, Opera */
	animation: roll 16s linear 0s;
}

.egg .topShell {
	position: relative;
	display: block;
	width: 110px;
	height: 85px;
	background-color: pink;
	border-radius: 50% 50% 50% 50% / 100% 100% 0 0;
}
.egg .topShell.breakTopOff {
	-webkit-animation: breakTopOff 10s linear 5.5s; /* Chrome, Safari, Opera */
	animation: breakTopOff 10s linear 5.5s;
}

.egg .bottomShell {
	position: relative;
	margin-top: 10px;
	display: block;
	width: 110px;
	height: 55px;
	background-color: pink;
	border-radius: 50% 50% 50% 50% / 0 0 100% 100%;
}

.egg .triangle {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}

.egg .topShell > .triangle {
	z-index: 2;
	border-top: 10px solid pink;
}

.egg .topShell .backTriangle2 {
	margin-top: 85px;
}
.egg .topShell .triangle2 {
	margin-top: 83px;
}
.egg .topShell .backTriangle2.crack {
	-webkit-animation: crack 1.5s linear 4.25s; /* Chrome, Safari, Opera */
	animation: crack 1.5s linear 4.25s;
}

.egg .topShell .backTriangle4 {
	margin-top: 85px;
	margin-left: 27px;
}
.egg .topShell .triangle4 {
	margin-top: 83px;
	margin-left: 27px;
}
.egg .topShell .backTriangle4.crack {
	-webkit-animation: crack 2.25s linear 3.5s; /* Chrome, Safari, Opera */
	animation: crack 2.25s linear 3.5s;
}

.egg .topShell .backTriangle6 {
	margin-top: 85px;
	margin-left: 54px;
}
.egg .topShell .triangle6 {
	margin-top: 83px;
	margin-left: 54px;
}
.egg .topShell .backTriangle6.crack {
	-webkit-animation: crack 3s linear 2.75s; /* Chrome, Safari, Opera */
	animation: crack 3s linear 2.75s;
}

.egg .topShell .backTriangle8 {
	margin-top: 85px;
	margin-left: 80px;
}
.egg .topShell .triangle8 {
	margin-top: 83px;
	margin-left: 80px;
}
.egg .topShell .backTriangle8.crack {
	-webkit-animation: crack 3.75s linear 2s; /* Chrome, Safari, Opera */
	animation: crack 3.75s linear 2s;
}

.egg .bottomShell > .triangle {
	margin-top: -10px;
	border-bottom: 10px solid pink;
}

.egg .bottomShell .triangle1 {
	border-right: 16px solid transparent;
	border-left: none;
}

.egg .bottomShell .triangle3 {
	margin-left: 14px;
}

.egg .bottomShell .triangle5 {
	margin-left: 42px;
}

.egg .bottomShell .triangle7 {
	margin-left: 69px;
}

.egg .bottomShell .triangle9 {
	margin-left: 94px;
	border-left: 16px solid transparent;
	border-right: none;
}


@keyframes roll {
  0% {
	margin-left: 0;
  }
  8% {
	margin-left: 65%;
	margin-left: calc(100% - 120px);
	-webkit-transform:rotate(720deg);
	-moz-transform:rotate(720deg);
	-o-transform:rotate(720deg);
  }
  100% {
	margin-left: 65%;
	margin-left: calc(100% - 120px);
  	-webkit-transform:rotate(720deg);
	-moz-transform:rotate(720deg);
	-o-transform:rotate(720deg);
  }
}

@-webkit-keyframes roll {
  0% {
	margin-left: 0px;
  }
  8% {
	margin-left: 65%;
	margin-left: calc(100% - 120px);
	-webkit-transform:rotate(720deg);
	-moz-transform:rotate(720deg);
	-o-transform:rotate(720deg);
  }
  100% {
	margin-left: 65%;
	margin-left: calc(100% - 120px);
  	-webkit-transform:rotate(720deg);
	-moz-transform:rotate(720deg);
	-o-transform:rotate(720deg);
  }
}

@keyframes crack {
	0% {
		border-top: 10px solid black;
	}
	100% {
		border-top: 10px solid black;
	}
}

@-webkit-keyframes crack {
	0% {
		border-top: 10px solid black;
	}
	100% {
		border-top: 10px solid black;
	}
}

@keyframes breakTopOff {
	0% {}
	5% {
		margin-top: 10px;
		margin-left: -120px;
		-webkit-transform:rotate(-120deg);
		-moz-transform:rotate(-120deg);
		-o-transform:rotate(-120deg);
	}
	100% {
		margin-top: 10px;
		margin-left: -120px;
		-webkit-transform:rotate(-120deg);
		-moz-transform:rotate(-120deg);
		-o-transform:rotate(-120deg);
	}
}

@-webkit-keyframes breakTopOff {
	0% {}
	5% {
		margin-top: 10px;
		margin-left: -120px;
		-webkit-transform:rotate(-120deg);
		-moz-transform:rotate(-120deg);
		-o-transform:rotate(-120deg);
	}
	100% {
		margin-top: 10px;
		margin-left: -120px;
		-webkit-transform:rotate(-120deg);
		-moz-transform:rotate(-120deg);
		-o-transform:rotate(-120deg);
	}
}

.chick {
	position: relative;
}

.chickHead {
	width: 70px;
	height: 64px;
	background-color: yellow;
	border-radius: 50%;
	position: absolute;
	margin-top: 16px;
	margin-left: 20px;
}
.chickHeadBg {
	width: 74px;
	height: 65px;
	background-color: #b89778;
	border-radius: 50%;
	position: absolute;
	margin-top: 14px;
	margin-left: 18px;
}

.chickHead .chickHair > * {
	border-radius: 50%;
	position: absolute;
	margin-top: -12px;
	margin-left: 22px;
}

.chickHead .chickHair .bgStrand1 {
	z-index: -1;
	height: 16px;
	width: 16px;
	box-shadow: 7px -4px 0px 0px #b89778;
	margin-top: -7px;
	margin-left: 18px;
}

.chickHead .chickHair .bgStrand2 {
	z-index: -1;
	height: 18px;
	width: 18px;
	box-shadow: 8px -3px 0px 0px #b89778;
	margin-top: -12px;
	margin-left: 21px;
}

.chickHead .chickHair .strand1 {
	height: 14px;
	width: 14px;
	box-shadow: 4px -2px 0px 0px yellow;
	margin-top: -7px;
}

.chickHead .chickHair .strand2 {
	box-shadow: 4px -1px 0 0 yellow;
	height: 15px;
	width: 15px;
	margin-left: 26px;
}

.chickBody {
	width: 96px;
	height: 80px;
	background-color: yellow;
	border-radius: 80% 80% 50% 50%;
	position: absolute;
	margin-top: 52px;
	margin-left: 7px;
}
.chickBodyBg {
	width: 100px;
	height: 84px;
	background-color: #b89778;
	border-radius: 80% 80% 50% 50%;
	position: absolute;
	margin-top: 50px;
	margin-left: 5px;
}

.chickEye {
	display: inline-block;
	width: 5px;
	height: 6px;
	background-color: black;
	border-radius: 50%;
	margin-top: 16px;
	margin-left: 25px;
}

.chickEye.right {
	margin-left: -4px;
}

.chickHead .topBeak {
	width: 0px;
	border-right: 12px solid transparent;
	border-bottom: 6px solid tan;
	margin-left: 48px;
	margin-top: -5px;
}

.chickHead .bottomBeak {
	width: 0px;
	border-right: 12px solid transparent;
	border-top: 6px solid tan;
	margin-left: 48px;
	margin-top: 0px;
}

.chickHead .bottomBeak.moveMouth {
	-webkit-animation: moveMouth 1s linear 6s infinite; /* Chrome, Safari, Opera */
	animation: moveMouth 1s linear 6s infinite;
}

@keyframes moveMouth {
	0% {}
	50% {
		margin-left: 47px;
		margin-top: 2px;
		-webkit-transform:rotate(30deg);
		-moz-transform:rotate(30deg);
		-o-transform:rotate(30deg);
	}
	100% {
		margin-left: 48px;
		margin-top: 0px;
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
}

@-webkit-keyframes moveMouth {
	0% {}
	50% {
		margin-left: 47px;
		margin-top: 2px;
		-webkit-transform:rotate(30deg);
		-moz-transform:rotate(30deg);
		-o-transform:rotate(30deg);
	}
	100% {
		margin-left: 48px;
		margin-top: 0px;
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-o-transform:rotate(0deg);
	}
}

/* Happy Easter */
.happy,
.easter {
	position: absolute;
	margin-left: -140px;
	font-size: 20px;
}

.happy > *,
.easter > * {
	display: inline;
	visibility: hidden;
}

.happy {
	margin-top: -40px;
}

.easter {
	margin-top: -20px;
}

@keyframes showLetter {
	0% {}
	30% {
		visibility: visible;
		text-shadow: 4px 4px 0px #ff76b9;
	}
	100% {
		visibility: hidden;
	}
}

@-webkit-keyframes showLetter {
	0% {}
	30% {
		visibility: visible;
		text-shadow: 4px 4px 0px #ff76b9;
	}
	100% {
		visibility: hidden;
	}
}

.happy .letter:nth-child(1).showLetter {
	-webkit-animation: showLetter 7.5s linear 7s; /* Chrome, Safari, Opera */
	animation: showLetter 7.5s linear 7s;
}
.happy .letter:nth-child(2).showLetter {
	-webkit-animation: showLetter 7.25s linear 7.25s; /* Chrome, Safari, Opera */
	animation: showLetter 7.25s linear 7.25s;
}
.happy .letter:nth-child(3).showLetter {
	-webkit-animation: showLetter 7s linear 7.5s; /* Chrome, Safari, Opera */
	animation: showLetter 7s linear 7.5s;
}
.happy .letter:nth-child(4).showLetter {
	-webkit-animation: showLetter 6.75s linear 7.75s; /* Chrome, Safari, Opera */
	animation: showLetter 6.75s linear 7.75s;
}
.happy .letter:nth-child(5).showLetter {
	-webkit-animation: showLetter 6.5s linear 8s; /* Chrome, Safari, Opera */
	animation: showLetter 6.5s linear 8s;
}

.easter .letter:nth-child(1).showLetter {
	-webkit-animation: showLetter 6.25s linear 8.25s; /* Chrome, Safari, Opera */
	animation: showLetter 6.25s linear 8.25s;
}
.easter .letter:nth-child(2).showLetter {
	-webkit-animation: showLetter 6s linear 8.5s; /* Chrome, Safari, Opera */
	animation: showLetter 6s linear 8.5s;
}
.easter .letter:nth-child(3).showLetter {
	-webkit-animation: showLetter 5.75s linear 8.75s; /* Chrome, Safari, Opera */
	animation: showLetter 5.75s linear 8.75s;
}
.easter .letter:nth-child(4).showLetter {
	-webkit-animation: showLetter 5.5s linear 9s; /* Chrome, Safari, Opera */
	animation: showLetter 5.5s linear 9s;
}
.easter .letter:nth-child(5).showLetter {
	-webkit-animation: showLetter 5.25s linear 9.25s; /* Chrome, Safari, Opera */
	animation: showLetter 5.25s linear 9.25s;
}
.easter .letter:nth-child(6).showLetter {
	-webkit-animation: showLetter 5s linear 9.5s; /* Chrome, Safari, Opera */
	animation: showLetter 5s linear 9.5s;
}
.easter .letter:nth-child(7).showLetter {
	-webkit-animation: showLetter 4.75s linear 9.75s; /* Chrome, Safari, Opera */
	animation: showLetter 4.75s linear 9.75s;
}
