#extrasContainer {
	margin: 10px 0;
	text-align: center;
}

#extrasContainer .title {
	background-color: #d4eafb;
	line-height: 30px;
	padding-top: 4px;
}

#extrasContainer .content {
	background-color: #f6faff;
	text-align: left;
	padding: 18px;
	height: 205px;
}

#extrasContainer .extra-item {
	vertical-align: top;
	background-color: white;
	height: 275px;
	width: 250px;
	box-shadow: 0px 0px 6px 0px #ccc;
	margin: 20px 10px 0 10px;
	display: inline-block;
}

.extra-item .content .extra-row > * {
	display: inline-block;
}

.extra-item .content .extra-row {
	line-height: 20px;
	margin: 6px 0;
}

.extra-item .content .extra-row .thing {
	font-size: 15px;
}

.extra-item .content .bullet {
	padding: 1px 5px 0;
	text-align: center;
	background-color: #c5e8fb;
	border-radius: 12px;
	margin-right: 8px;
}

/**********************/
/***** About Me *******/
/**********************/

.ui-tabs .about-me .section {
	margin-top: 20px;
	text-align: justify;
}