.tabs {
	display: block;
}

.tabs .tab {
	position: relative;
	display: inline-block;
	border: 1px solid #ddd;
	border-top-right-radius: 14px;
	border-top-left-radius: 14px;
	border-bottom-width: 0;
	margin-right: 12px;
	font-weight: bold;
	background: #fcfcf4;
	padding: 12px;
	cursor: pointer;
	width: 100px;
	text-align: center;
	z-index: 2;
	text-transform: capitalize;
}

.tabs .tab.active {
	box-shadow: 0px 0px 10px 2px #ddd;
	z-index: 3;
	background-color: #f9f9ea;
}

.tabs .tab:before {
	position: absolute;
	width: 10px;
	height: 10px;
	content: " ";
	bottom: 0px;
	border: 1px solid #ddd;
	left: -11px;
	border-width: 0 1px 1px 0;
	border-bottom-right-radius: 10px;
	box-shadow: 5px 6px 0 3px #f9f9ea;
}

.tabs .tab:after {
	position: absolute;
	width: 10px;
	height: 10px;
	content: " ";
	bottom: 0px;
	border: 1px solid #ddd;
	right: -11px;
	border-width: 0 0 1px 1px;
	border-bottom-left-radius: 10px;
	box-shadow: -5px 6px 0 3px #f9f9ea;
}

.shadowBlocker {
	position: absolute;
	width: 100%;
	height: 18px;
	background-color: #f9f9ea;
	z-index: 3;
	margin-left: -12px;
	margin-top: 10px;
}

.tabs .tab.home {
	border-top-right-radius: 18px;
    border-top-left-radius: 18px;
	width: 170px;
	padding: 6px 12px;
	margin-bottom: -17px;
	margin-left: 40px;
}

.tabs .tab.home .tabName {
	background-image: url("../resources/images/my-name.png");
	background-repeat: no-repeat;
	width: 152px;
	height: 65px;
	margin-left: 10px;
}

.tabs .tab.home .shadowBlocker {
	margin-top: 5px;
}