<div class="css3Container">
	<div class="description">The following animation does not use any images. Click the button to see it go.</div>
	<div class="buttons-container">
		<div class="button animateBtn" ng-click="onClickGo()">Go!</div>
	</div>
	<div class="egg">
		<div class="chick">
			<div class="chickHeadBg"></div>
			<div class="chickBodyBg"></div>
			<div class="chickHead">
				<div class="chickHair">
					<div class="bgStrand1"></div>
					<div class="bgStrand2"></div>
					<div class="strand1"></div>
					<div class="strand2"></div>
				</div>
				<div class="chickEye left"></div>
				<div class="chickEye right"></div>
				<div class="topBeak"></div>
				<div class="bottomBeak"></div>
			</div>
			<div class="chickBody"></div>
		</div>
		<div class="topShell">
			<div class="triangle backTriangle2"></div>
			<div class="triangle triangle2"></div>
			<div class="triangle backTriangle4"></div>
			<div class="triangle triangle4"></div>
			<div class="triangle backTriangle6"></div>
			<div class="triangle triangle6"></div>
			<div class="triangle backTriangle8"></div>
			<div class="triangle triangle8"></div>
		</div>
		<div class="bottomShell">
			<div class="triangle triangle1"></div>
			<div class="triangle triangle3"></div>
			<div class="triangle triangle5"></div>
			<div class="triangle triangle7"></div>
			<div class="triangle triangle9"></div>
		</div>
		<div class="happy">
			<div class="letter">H</div>
			<div class="letter">A</div>
			<div class="letter">P</div>
			<div class="letter">P</div>
			<div class="letter">Y</div>
		</div>
		<div class="easter">
			<div class="letter">E</div>
			<div class="letter">A</div>
			<div class="letter">S</div>
			<div class="letter">T</div>
			<div class="letter">E</div>
			<div class="letter">R</div>
			<div class="letter">!</div>
		</div>
	</div>
</div>