<script>
	ga('send', 'pageview', '/projects');
</script>
<div class="projects-description">Besides making this website, here are some of my small, not-that-useful projects. Though I did make my favicon with the sprite maker, so I guess it is a little useful. I enjoyed working on these. Please note that this section works best on a WebKit-based browser, such as Chrome.</div>
<div class="project-section">
	<div class="project-title">CSS Character Editor</div>
	<div class="character-bg"></div>
	<div my-character class="my-character-container"></div>
</div>
<div class="project-section">
	<div class="project-title">Sprite Maker</div>
	<div class="sprite-bg"></div>
	<div sprite-maker class="sprite-maker" ng-controller="spriteMakerCtrl"></div>
</div>
<div class="project-section">
	<div class="project-title">CSS3 Animation Fun</div>
	<div css3-fun></div>
</div>
<div dialog id="image-dialog" title="Your Image" options="imageOptions">
	<div>Right Click and "Save Image As..."</div>
	<div class="getImage"></div>
</div>